doctype html
html(lang="en")
    head
        title= ".:: Domopi : Controller ::."
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        nav
            ul(class='nav nav-tabs')
                li(role='presentation', class='active')
                    a(href='#')= 'Inicio'
                li(role='presentation')
                    a(href='#')= 'Agregar Control'
        section#content
            block content
        footer#footer
            span= 'FlinkData'
        script(src='/jquery/dist/jquery.min.js')
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src='/js/global.js')
